allow dumpstate adsprpcd_file:dir getattr;
allow dumpstate adsprpcd_file:filesystem getattr;
allow dumpstate fingerprintd:binder call;
allow dumpstate init:process getsched;
allow dumpstate kernel:process getsched;
allow dumpstate loop_device:blk_file getattr;
allow dumpstate modem_efs_partition_device:blk_file getattr;
allow dumpstate self:netlink_xfrm_socket create;
allow dumpstate system_block_device:blk_file getattr;
allow dumpstate wcnss_service_exec:file execute;
