allow untrusted_app sysfs:file getattr;
allow untrusted_app sysfs:file open;
allow untrusted_app sysfs:file read;
allow untrusted_app debugfs:file read; 
