on init
    # Create Power HAL tunables
    mkdir /dev/voxpopuli 0555 system system

on boot
    # update cpusets now that processors are up
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/foreground/boost/cpus 0-3
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3

    # add a cpuset for the camera daemon
    # we want all cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-3
    write /dev/cpuset/camera-daemon/mems 0
    chown system system /dev/cpuset/camera-daemon
    chown system system /dev/cpuset/camera-daemon/tasks
    chmod 0664 /dev/cpuset/camera-daemon/tasks

    # set default schedTune value for foreground/top-app (only affects EAS)
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/foreground/schedtune.boost 0
    write /dev/stune/top-app/schedtune.boost 0
    write /dev/stune/top-app/schedtune.prefer_idle 1

    # Set Power HAL tunables
    write /dev/voxpopuli/enable_interaction_boost   1
    write /dev/voxpopuli/fling_min_boost_duration   200
    write /dev/voxpopuli/fling_max_boost_duration   2500
    write /dev/voxpopuli/fling_boost_topapp         5
    write /dev/voxpopuli/fling_min_freq_big         614
    write /dev/voxpopuli/fling_min_freq_little      1118
    write /dev/voxpopuli/touch_boost_duration       200
    write /dev/voxpopuli/touch_boost_topapp         5
    write /dev/voxpopuli/touch_min_freq_big         614
    write /dev/voxpopuli/touch_min_freq_little      1036    
    chmod 0644 /dev/voxpopuli/enable_interaction_boost
    chmod 0644 /dev/voxpopuli/fling_min_boost_duration
    chmod 0644 /dev/voxpopuli/fling_max_boost_duration
    chmod 0644 /dev/voxpopuli/fling_boost_topapp      
    chmod 0644 /dev/voxpopuli/fling_min_freq_big      
    chmod 0644 /dev/voxpopuli/fling_min_freq_little   
    chmod 0644 /dev/voxpopuli/touch_boost_duration    
    chmod 0644 /dev/voxpopuli/touch_boost_topapp      
    chmod 0644 /dev/voxpopuli/touch_min_freq_big      
    chmod 0644 /dev/voxpopuli/touch_min_freq_little   
    chown system system /dev/voxpopuli/enable_interaction_boost
    chown system system /dev/voxpopuli/fling_min_boost_duration
    chown system system /dev/voxpopuli/fling_max_boost_duration
    chown system system /dev/voxpopuli/fling_boost_topapp      
    chown system system /dev/voxpopuli/fling_min_freq_big      
    chown system system /dev/voxpopuli/fling_min_freq_little   
    chown system system /dev/voxpopuli/touch_boost_duration    
    chown system system /dev/voxpopuli/touch_boost_topapp      
    chown system system /dev/voxpopuli/touch_min_freq_big      
    chown system system /dev/voxpopuli/touch_min_freq_little

on enable-low-power

    # Disable thermal bcl hotplug to switch governor
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/devices/soc/soc:qcom,bcl/mode "disable"
    write /sys/devices/soc/soc:qcom,bcl/hotplug_mask 0
    write /sys/devices/soc/soc:qcom,bcl/hotplug_soc_mask 0
    write /sys/devices/soc/soc:qcom,bcl/mode "enable"

    # Min/Max Freqs
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 307200
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1593600
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2150400

    # Online CPU2
    write /sys/devices/system/cpu/cpu2/online 1

    # if EAS is present, switch to schedutil governor (no effect if not EAS)
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "schedutil"

    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 700
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 3000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable 0
    write /sys/devices/system/cpu/cpu2/cpufreq/schedutil/up_rate_limit_us 800
    write /sys/devices/system/cpu/cpu2/cpufreq/schedutil/down_rate_limit_us 2000
    write /sys/devices/system/cpu/cpu2/cpufreq/schedutil/iowait_boost_enable 0

    # Re-enable thermal and BCL hotplug
    write /sys/module/msm_thermal/core_control/enabled 1
    write /sys/devices/soc/soc:qcom,bcl/mode "disable"
    write /sys/devices/soc/soc:qcom,bcl/hotplug_mask 12
    write /sys/devices/soc/soc:qcom,bcl/hotplug_soc_mask 8
    write /sys/devices/soc/soc:qcom,bcl/mode "enable"

    # Enable bus-dcvs
    write /sys/class/devfreq/soc:qcom,cpubw/governor "bw_hwmon"
    write /sys/class/devfreq/soc:qcom,cpubw/polling_interval 50
    write /sys/class/devfreq/soc:qcom,cpubw/min_freq 1525
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/mbps_zones "1525 5195 11863 13763"
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/sample_ms 4
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/io_percent 34
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hist_memory 20
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hyst_length 10
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/low_power_ceil_mbps 0
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/low_power_io_percent 34
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/low_power_delay 20
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/guard_band_mbps 0
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/up_scale 250
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/idle_mbps 1600

    write /sys/class/devfreq/soc:qcom,memlat-cpu0/governor "mem_latency"
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/polling_interval 10
    write /sys/class/devfreq/soc:qcom,memlat-cpu2/governor "mem_latency"
    write /sys/class/devfreq/soc:qcom,memlat-cpu2/polling_interval 10
    write /sys/class/devfreq/soc:qcom,mincpubw/governor "cpufreq"

    # Set perfd properties
    setprop sys.post_boot.parsed 1

    # Start perfd after all properties have been properly set
    start perfd

    # Starting io prefetcher service
    start iop

    # Low Memory Killer
    write /sys/module/lowmemorykiller/parameters/minfree "18432,23040,27648,51256,150296,200640"

    # Enable all low power modes
    write /sys/module/lpm_levels/parameters/sleep_disabled "N"

    # Set idle GPU to 133 Mhz
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 6


on charger
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/module/msm_thermal/core_control/cpus_offlined 14
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersave"
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    start hvdcp_opti

on class_start:late_start
    trigger enable-low-power

on property:init.svc.recovery=running
    trigger enable-low-power

on property:dev.bootcomplete=1
    setprop sys.io.scheduler "bfq"

    # update cpusets now that boot is complete and we want better load balancing
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/foreground/boost/cpus 0-1,3
    write /dev/cpuset/foreground/cpus 0-1,3
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-1
